.form-wrapper {
  max-width: 900px;
  margin: auto;
  background-color: #ffe5e8;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
 
}

.title {
  font-family: SBold;
  color:#8a4d5e ;
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}